@media only screen and (max-width: 1024px) {
  .title {
    width: 100%;
  }
  .list_type {
    margin-top: 8px;
    width: 100%;
    button {
        padding: 2px;
        font-size: 14px;
    }
  }
}
