.filter_item {
  > div {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  > input {
    width: 0;
  }
  &:hover > div {
    border-color: #fabb00;
  }
}
.filter_item.active {
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fabb00;
    color: #fff;
    font-size: 10px;
  }
}
.box_sort {
  &:hover > div {
    display: flex;
  }
  > div {
    bottom: 0;
    transform: translateY(100%);
    display: none;
  }
}
.wrapper_item {
  width: calc(20% - 12px);
  background-color: #fff;
  img {
    width: 170px;
    height: 187px;
    object-fit: contain;
  }
}
