.wrapper {
  position: relative;
  width: 85%;
  text-transform: uppercase;
  height: 40px;
  border-radius: 4px;
  background-color: #fabb00;
  margin-top: 20px;
  > div {
    background-color: #263b96;
    border-radius: 4px;
    transition: all 0.5s;
    width: 0px;
    height: 100%;
  }
  > span {
    display: flex;
    width: 90%;
    height: 90%;
    color: #fff;
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover > div {
    width: 100%;
  }
}
