// -----------
.wrapper {
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: relative;
}
.wrapper_customer,
.wrapper_order,
.wrapper_product {
  table {
    max-width: 100%;
    overflow: auto;
    img {
      width: 100px;
      height: 100px;
    }
  }
  td,
  th {
    border: 2px solid red;
    text-align: center;
  }
}
.content {
  > div {
    width: 100%;
    border-radius: 8px;
    background-color: #ccc;
  }
}
.box_color {
  max-width: 100px;
  cursor: pointer;
  height: 100%;
  > div {
    display: none;
    top: 50px;
    left: 50px;
  }
  > span {
    display: block;
    width: 100%;

    height: 100px;
  }
  &:hover > div {
    display: block;
  }
}
.nav_mobile {
  display: none;
}
@media only screen and (max-width: 1023px) {
  .wrapper {
    padding-bottom: 50px;
  }
  .nav {
    display: none;
  }
  .nav_mobile {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 100;
    flex-direction: row;
    align-items: center;
    display: flex;
    > ul {
      display: flex;
    }
  }
  .content {
    width: 100%;
    padding: 2px;
    > div {
      padding: 2px;
    }
    .wrapper_statistical {
      flex-wrap: wrap;
      gap: 8px 0px;
      > div {
        width: calc(50%);
      }
    }
    .wrapper_charts {
      flex-direction: column;
      gap: 8px;
      > div {
        width: 100%;
        padding: 8px 0px;
      }
    }
  }
  .wrapper_customer,
  .wrapper_order,
  .wrapper_product,
  .wrapper_table {
    padding-bottom: 40px !important;
    max-width: 100vw;
    overflow: auto;
    td {
      min-width: 100px;
    }
    table,
    td,
    th {
      text-align: center;
      border: 1px solid #000;
    }
  }
  .wrapper_list_input {
    > label {
      width: 100%;
    }
    > div {
      width: 100%;
    }
  }
}
